* {
  margin: 0;
  padding: 0;
  
}
.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/img/Header.jpg"); 
  background-size: cover;
  background-position: center;
  color: #fefefe;
  height: 16rem;
  padding: 4.5rem;
}

.menu {
  background-color: #1f1f1f;
  display: flex;
  justify-content: space-between;
  padding: .2rem 1.5rem;
}

.borde {
  border: solid black 1px;
}

.p-xs {
  font-size: 0.85rem;
}

.name {
  color: white;
}

footer {
  background-color: #1f1f1f;
  color: white;
}

.error {
  color: #ce0015;             
  font-size: 16px;     
  font-style: italic;    
  padding-left: 1.5rem;   
}

.form-container {
  padding-top: 4rem;
  height: 83vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: 40rem;
  text-align: justify;
  margin-top: 2.5rem;
}

.tarjetas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  padding: 0 10rem; 
}

.item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.2rem;
  align-items: center;
  
}

.item img {
  width: 7rem;
  margin: 0;
}

.itemPizza {
  display: flex;
  gap: 2rem;
  align-items: center;

}



.botonMenos {
  width: 2.3rem;
  background-color: white;
  border: solid 1.5px #ce0015;
  color: #ce0015;
  border-radius: 8px;
}

.botonMas {
  width: 2.3rem;
  background-color: white;
  border: solid 1.5px blue;
  color: blue;
  border-radius: 8px;
}

.listaIngredientes {
  text-align: center;          
  list-style-type: none;       
  padding: 0;                  
  margin: 0 0 .8rem 0; 

}
.container {
  height: 85vh;
  align-content: center;
}

.containerPizza {
  display: flex;
  width: 65rem;
  text-align: center;
  margin: 5rem auto;   
  gap: 3rem;
  box-shadow: 2px 2px 8px rgb(205, 205, 205);
  border-radius: 40px;
  
}

.containerPizza img {
  width: 25rem;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  filter: brightness(0.85);
}

.precioPizza {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}