* {
  margin: 0;
  padding: 0;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/img/Header.jpg"); 
  background-size: cover;
  background-position: center;
  color: #fefefe;
  height: 25vh;
  padding: 2rem;
}

.menu {
  background-color: #1f1f1f;
  display: flex;
  justify-content: space-between;
  padding: .2rem 1.5rem;
  height: 6vh;
}

.borde {
  border: solid black 1px;
}

.pXs {
  font-size: 0.85rem;
}
.shadowCard {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.name {
  color: white;
}

footer {
  background-color: #1f1f1f;
  color: white;
  height: 8vh;
}

.error {
  color: #ce0015;             
  font-size: 16px;     
  font-style: italic;    
  padding-left: 1.5rem;   
}


.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 86vh; 
  background-color: #f5f5f5;
}

.pageContent {
  width: 50rem;
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  flex-direction: column;
}


.formContent {
  width: 40rem;
  text-align: justify;
  margin-top: 2.5rem;
}

.tarjetas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  padding: 0 10rem; 
  height: 61vh;
  background-color: #f5f5f5;
  overflow-y: auto
}

.cartContent {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  padding: 0 2rem;
}

.itemCart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.itemName, .itemButton {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.itemPrice {
  display: flex;
  justify-content: space-between; 
  width: 50%;
}

.itemName img {
  width: 7rem;
  margin: 0;
}



.botonMenos {
  height: 2.3rem;
  width: 2.3rem;
  background-color: white;
  border: solid 1.5px #ce0015;
  color: #ce0015;
  border-radius: 8px;
}

.botonMas {
  height: 2.3rem;
  width: 2.3rem;
  background-color: white;
  border: solid 1.5px blue;
  color: blue;
  border-radius: 8px;
}

.listaIngredientes {
  text-align: center;          
  list-style-type: none;       
  padding: 0;                  
  margin: 0 0 .8rem 0; 

}


.pizzaContent {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 65rem;
  text-align: center;
  margin: 5rem auto;   
  
}

.pizzaContent img {
  width: 25rem;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  filter: brightness(0.95);
}

.pizzaText {
  padding: 1rem 2rem;
}

.precioPizza {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}



.notFoundImg {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.notFoundTitle {
  font-size: 2.5rem;
  font-weight: bold;
  color: #4778ff;
  margin: 0;
}

.notFoundText {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 30px;
}


.profileEmail {
  font-size: 1.2rem;
  color: #333;
  margin-top: 10px;
  margin-bottom: 20px;
}
